@import "tailwindcss";

@theme inline {
  --color-accent: #2563EB;
  --color-accent-dark: #1d4ed8;
  --font-sans: "Inter", sans-serif;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: var(--font-sans);
}
